#pageName {
  padding-bottom: 50px;
  padding-top: 10px;
  background-color: #3F3E3E;
  text-decoration-color: white;
}
h1 {
  color: white;
}
a:link {
  color: white;
}
a:hover {
  text-decoration: underline;
  color: white;
}
a:visited {
  color: white;
}
#nav {
  float: right;
  padding-right: 4px;
}
#aboutus {
  padding-right: 7px;
  padding-left: 7px;
}
#menu {
  padding-right: 7px;
  padding-left: 7px;
}
#home {
  padding-right: 7px;
  padding-left: 7px;
}